/* = require_self */

main {
  margin: 60px 0 0 0;
}

a {
  color: #fff !important;
}

@media only screen and (max-width: 768px) {
  #center-sm {
    justify-content: center !important;
  }
}

.background-primary {
  background-color: #a96b6b;
}

.background-secondary {
  background-color: #ffc5c5;
}

.background-tertiary {
  background-image: url(assets/pngfind.com-singapore-airlines-logo-png-3473388);

  height: 350px;
}

.border-radius-primary {
  border-radius: 45px;
}

.background-image-jumbotron {
  background-image: url("assets/jumbotron");
  background-size: cover;
  background-repeat: no-repeat;
  height: 430px;
}

.card-kitty {
  border-radius: 10px;
  background-color: #ffc5c5;
  width: 300px !important;
  /* max-width: 300px !important; */
  padding-top: 0.5em;
}

.card-order {
  border-radius: 30px 0;
  background-color: #D9D9D9 !important;
  color: #fff !important;
  /* max-width: 300px !important; */
  padding-top: 0.5em;
  height: fit-content;
  border: solid 2px #ff989e;
}

.img-order {
  border-radius: 5px;
  height: 60px;
  width: auto;
}

.box-miniature {
  border-radius: 10px;
  background-color: #ffc5c5 !important;
  height: 70px;
  min-width: 100px;
  width: auto;
  border: solid 1px #ff989e;
}

.border-pink {
  border: solid 5px #ff989e;
  border-radius: 20px 0;
  background-color: #ff989e;
  width: fit-content;
  padding: 0 7px;
}

.text-pink-color {
  color:#ff989e;
}

.card-form {
  border-radius: 10px;
  background-color: #ffc5c5 !important;
  color: #fff !important;
  /* max-width: 300px !important; */
  padding-top: 0.5em;
  height: fit-content;
}

.button-primary-sm {
  padding: 0.5em 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #ff989e;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-primary-sm:hover {
  background-color: #a96b6b;
  box-shadow: 0px 15px 20px rgba(159, 83, 83, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-primary {
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #ff989e;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-primary:hover {
  background-color: #a96b6b;
  box-shadow: 0px 15px 20px rgba(159, 83, 83, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-primary {
  transform: translateY(-1px);
}
.button-primary {
  border-radius: 5px;
  border: none;
  background-color: #ff989e;
  width: fit-content;
}

.margin-card .card {
  padding: 0.4em;
  border-radius: 20px;
}

.card-image {
  max-width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.card-image:hover {
  transform: scale(0.98);
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: fit-content;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.img-navbar {
  width: 30px;
  height: 30px;
}

.img-avatar {
  width: 300px;
  height: 300px;
  border-radius: 30px 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff989e;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffc5c5;
}


.success-animation { margin:150px auto;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #ff989e;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #ff989e;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}