<div class="jumbotron background-image-jumbotron">
<div class="container p-5">
  <h1 class="display-5">DISCOVER LIMITED EDITION CHATONS - KITTIES AT YOUR DEMAND ! </h1>
  <p>Find the cuttest pictures of kitties, you can browse through our gallery to find the photo of your dreams.</p>
  <p><a class="button-primary text-decoration-none" href="#" role="button">Get Your Kitty Now !</a></p>
</div>
</div>